<div class="container">
  <div class="above-fold">
    <div class="crumbs">
      <p-skeleton *ngIf="isLoading" height="20px" width="400px"></p-skeleton>
      <app-product-breadcrumbs
        *ngIf="!isLoading"
        [taxonomy]="taxonomy"
      ></app-product-breadcrumbs>
    </div>
    <div class="gallery">
      <app-product-image-gallery
        (doneLoading)="doneLoadingImages($event)"
        [imageUrls]="featuredImageUrls"
        [thumbnailUrls]="thumbailImageUrls"
      ></app-product-image-gallery>
    </div>
    <div *ngIf="isLoading" class="name skeleton">
      <p-skeleton width="75%" height="40px"></p-skeleton>
      <p-skeleton width="60%" height="30px"></p-skeleton>
    </div>
    <div *ngIf="!isLoading" class="name">
      <p class="type">{{ product.type.nameInProduct || product.type.name }}</p>
      <p class="design">{{ product.design.name }}</p>
    </div>
    <div class="price" *ngIf="isLoading">
      <p-skeleton width="120px" height="50px"></p-skeleton>
      <p-skeleton width="200px" height="50px"></p-skeleton>
    </div>
    <div *ngIf="!isLoading" class="price">
      <p>{{ price | currency: "ZAR":"symbol-narrow" }}</p>
      <div class="qty">
        <p>Quantity:</p>
        <p-inputNumber
          [min]="1"
          [max]="stockLevel"
          [(ngModel)]="quantity"
          [showButtons]="true"
          buttonLayout="horizontal"
          spinnerMode="horizontal"
          decrementButtonClass="p-button-danger"
          incrementButtonClass="p-button-success"
          incrementButtonIcon="pi pi-plus"
          decrementButtonIcon="pi pi-minus"
        ></p-inputNumber>
      </div>
    </div>
    <div class="cta">
      <button
        *ngIf="!isLoading"
        appButton
        [cta]="true"
        [hoverEffect]="true"
        label="Add to cart"
      ></button>

      <p-skeleton *ngIf="isLoading" width="100%" height="90px"></p-skeleton>
    </div>
    <div class="description skeleton" *ngIf="isLoading">
      <div class="desc-p">
        <p-skeleton width="100%" height="15px"></p-skeleton>
      </div>
      <div class="desc-p">
        <p-skeleton width="100%" height="15px"></p-skeleton>
      </div>
      <div class="desc-p">
        <p-skeleton width="100%" height="15px"></p-skeleton>
      </div>
      <div class="desc-p">
        <p-skeleton width="60%" height="15px"></p-skeleton>
      </div>
      <br />
      <div class="desc-p">
        <p-skeleton width="100%" height="15px"></p-skeleton>
      </div>
      <div class="desc-p">
        <p-skeleton width="100%" height="15px"></p-skeleton>
      </div>
      <div class="desc-p">
        <p-skeleton width="100%" height="15px"></p-skeleton>
      </div>
      <div class="desc-p">
        <p-skeleton width="60%" height="15px"></p-skeleton>
      </div>
    </div>
    <div *ngIf="!isLoading" class="description">
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis
        assumenda deserunt explicabo ducimus accusantium cupiditate illum vitae
        dolorum minima recusandae.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, amet
        quasi? Officia distinctio minima magni.
      </p>
    </div>
  </div>

  <div class="spae"></div>
  <div id="test" class="test"></div>
</div>
