div.spacer {
  height: 47px;
  width: 100vw;
}
div.container {
  width: 100vw;
  height: 400vh;
}

div.above-fold {
  min-height: calc(100vh - 47px);
  padding: 0px 100px;
  display: grid;
  gap: 5px;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 40px 90px 200px 90px 90px;
  grid-template-areas: "crumbs crumbs" "gallery name" "gallery description" "gallery price" "gallery cta";
  justify-content: center;
  align-items: center;
}

div.crumbs {
  grid-area: crumbs;
  text-align: left;
}

div.gallery {
  grid-area: gallery;
  justify-self: center;
  width: 100%;
  height: 100%;
  align-self: center;
  display: flexbox;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div * {
  text-align: left;
}

div.name {
  grid-area: name;
}
p {
  margin: 0;
  padding: 0;
}
p.type {
  font-size: 2rem;
  font-weight: bold;
  font-family: "Baskerville Light";
  text-transform: uppercase;
}

div.name.skeleton {
  align-self: stretch;
  justify-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}

div.price {
  font-size: 1.4rem;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
div.price p {
  line-height: 50px;
  font-size: 1.8rem;
}

p.design {
  font-size: 1.8rem;
  font-style: italic;
  font-family: "Baskerville Light";
}

div.price {
  grid-area: price;
}

div.cta {
  width: 100%;
  grid-area: cta;
  justify-self: stretch;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
div.qty {
  display: flex;
}

div.description.skeleton {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  justify-self: stretch;
  justify-content: space-evenly;
}

div.skeleton div {
  margin: 2.5px;
}

div.qty p {
  font-size: 1.3rem;
  margin-right: 10px;
}

div.cta button {
  text-align: center;
  width: 100%;
}

::ng-deep div.price input.p-inputnumber-input {
  width: 60px;
  height: 50px;
}

::ng-deep div.price button.p-inputnumber-button {
  background-color: black;
}

div.description {
  grid-area: description;
  align-self: flex-start;
  font-size: 1.15rem;
}

div.description p {
  padding: 15px 10px;
}
