div.container {
  width: 100%;
  height: 100px;
  border: 1px solid black;
  border-top: none;
  display: grid;
  grid-template-columns: 50px 120px 150px 1fr 120px 180px 180px;
  grid-template-areas: "more id image name price stock qty";
  align-items: center;
}

div.id {
  grid-area: id;
  font-size: 0.7rem;
}

div.price {
  grid-area: price;
  font-size: 1.1rem;
  font-weight: bold;
  text-align: right;
}

div.image {
  grid-area: image;
  height: 95%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

div.more {
  grid-area: more;
}
div.more i {
  font-size: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}
div.image img {
  height: 90px;
  width: 90px;
  object-fit: contain;
}

div.name {
  grid-area: name;
  justify-self: flex-start;
  font-size: 1.1rem;
  font-family: "Baskerville Light";
  font-weight: bold;
}

div.stock {
  justify-self: center;
  grid-area: stock;
  white-space: pre;
  width: 70%;
  height: 40px;
  display: flex;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}

div.qty {
  grid-area: qty;
}

::ng-deep div.qty input.p-inputnumber-input {
  width: 100px;
}

.noStock {
  background-color: rgb(236, 72, 72);
  color: white;
  font-size: 1rem;
}

.inStock {
  background-color: rgb(89, 223, 96);
  font-size: 1rem;
  color: white;
}
.dialogue-content {
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

div.info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
}

div.modal-name {
  font-family: "Baskerville Light";
  font-weight: bold;
  font-size: 1.3rem;
}

div.description p {
  text-align: left;
  font-size: 1.1rem;
}

div.price-info {
  display: grid;
  grid-template-columns: 1fr 20px 1fr;
  grid-template-rows: 20px 40px;
  grid-template-areas: "incH space exH" "incP space exP";
  align-items: center;
  justify-content: center;
}

div.price-info .header {
  font-size: 0.875rem;
  font-style: italic;
}

div.price-info .price {
  font-weight: bold;
  font-size: 1.4rem;
  text-align: center;
}

div.price-info .incH {
  grid-area: incH;
}

div.price-info .exH {
  grid-area: exH;
}

div.price-info .incP {
  grid-area: incP;
}

div.price-info .exP {
  grid-area: exP;
}

::ng-deep div.dialogue-qty input.p-inputnumber-input {
  width: 100%;
  height: 40px;
}
::ng-deep div.dialogue-qty span.p-inputnumber {
  width: 100%;
}

div.cta button {
  width: 100%;
  margin: 10px 0;
}
