<div class="landing hero-image">
  <div class="title big-heading">Welcome to our Online Store</div>
  <div class="info info-text">
    <p>
      Let your hair down with aLoveSupreme, the brand that is playful, punchy
      and personal.
    </p>
    <p>
      With a fondness for the fanciful and a passion for the playful,
      aLoveSupreme is the quirky collection of homeware, apparel and stationery
      that leaves a smile on your face.
    </p>
  </div>
  <div class="cta">
    <a [routerLink]="['/user']"
      ><button
        appButton
        [cta]="true"
        [hoverEffect]="true"
        label="SHOP NOW"
      ></button
    ></a>
  </div>
</div>
