.container {
  width: 100vw;
  display: grid;
  grid-template-columns: 20px 1fr 20px;
  grid-template-rows: 80px auto auto;
  grid-template-areas:
    "lgut title rgut"
    "lgut router rgut"
    "lgut spacer rgut";

  justify-content: center;
  align-items: center;
}

.title {
  grid-area: title;
  text-transform: uppercase;
  position: sticky;
  font-size: 1.9rem;
}

div.spacer {
  height: 90px;
  grid-area: spacer;
  width: 100%;
}

.router {
  grid-area: router;
  align-self: start;
}

::ng-deep .p-scrolltop.p-link {
  top: 10px;
  right: 10px;
}

::ng-deep .scroll-top {
  width: 30px;
  height: 30px;
  background-color: black !important;
  box-shadow: none !important;
}

::ng-deep .scroll-top .p-scrolltop-icon {
  font-size: 15px !important;
}
