<div class="container">
  <div class="p-inputgroup">
    <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
    <input
      [(ngModel)]="email"
      type="text"
      pInputText
      placeholder="Email Address"
    />
  </div>
  <div class="p-inputgroup">
    <span class="p-inputgroup-addon"><i class="pi pi-lock"></i></span>
    <input
      [(ngModel)]="password"
      [type]="showPassword ? 'text' : 'password'"
      pInputText
      placeholder="Password	"
    />
    <span
      (click)="toggleShowPassword()"
      class="p-inputgroup-addon show-password-toggle"
      ><i
        [ngClass]="{
          'pi-eye': !showPassword,
          'pi-eye-slash': showPassword
        }"
        class="pi"
      ></i
    ></span>
  </div>
  <div class="cta">
    <button (click)="login()" appButton [cta]="true" label="Login"></button>
    <div class="spinner">
      <i *ngIf="isLoading" class="pi pi-spin pi-spinner"></i>
    </div>
  </div>
</div>
