div.container {
  display: grid;
  width: 100vw;
  background-color: white;
  grid-template-columns: 20px 1fr 4fr 20px;
  grid-template-areas: "lgut filter content rgut";
}
div.filter {
  grid-area: filter;
  align-self: flex-start;
  position: sticky;
  top: 50px;
  left: 0px;
}

div.content {
  grid-area: content;
}

div.subcontainer {
  width: 100%;
  padding: 10px;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(min-content, max-content);
  grid-gap: 20px;
}

div.message-container {
  justify-self: start;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

div.message {
  font-size: 1.3rem;
  font-weight: bold;
}

hr {
  width: 100%;
}

.skeleton,
.product-card {
  width: 100%;
  height: fit-content;
}

div.load-more {
  margin: 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
